<div class="publications engagement">
  <h2>public engagement</h2>

  <h3>Research</h3>
  <ul>
    <li>The Economist, <a href="https://www.economist.com/graphic-detail/2026/08/11/why-lonely-republicans-are-even-glummer-than-democrats" target="_blank">"Why lonely Republicans are even glummer than Democrats,"</a> August 2026.</li>
    <li>The New York Times (The Upshot), <a href="https://www.nytimes.com/2020/07/28/upshot/polling-trump-virus-election.html" target="_blank">"How Local COVID Deaths Are Affecting Vote Choice,"</a> July 2020.</li>
  </ul>

  <h3>Current Events</h3>
  <ul>
    <li>The Nevada Independent, <a href="https://thenevadaindependent.com/article/ads-say-aaron-ford-isnt-doing-enough-to-stop-medicaid-fraud-heres-what-we-found" target="_blank">"Ads say Aaron Ford isn't doing enough to stop Medicaid fraud. Here's what we found,"</a> August 2026.</li>
    <li>Reno Gazette Journal, <a href="https://www.rgj.com/story/news/politics/elections/2026/06/05/mail-ballots-high-profile-races-influence-nevada-early-voting-turnout/90411408007/" target="_blank">"Mail ballots, high-profile races boost Nevada early voting turnout,"</a> June 2026.</li>
  </ul>
</div>
